@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat.ttf") format("truetype");
}

:root {
    --el-max-width: 700px;
    --mobile-width-treshold: 600px;
    --header-el-padding: 12px;
    --header-tag-margin: 6px;
    --nav-margin: 14px;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

* {
    font-family: "Montserrat";
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header, footer {
    max-width: var(--el-max-width);
    min-height: fit-content;
    padding-top: var(--header-el-padding);
    padding-bottom: var(--header-el-padding);
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 12px;
    margin-bottom: 12px;
    width: 90vw;
    color: black;
}

header {
    border-bottom: 1px solid slategray;
}

footer {
    justify-self: end;
    border-top: 1px solid slategray;
}

nav {
    width: 100%;
    max-width: var(--el-max-width);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: var(--nav-margin);
    margin-bottom: var(--nav-margin);

    @media (width < var(--mobile-width-treshold)) {
        flex-direction: column;
        padding-top: 16px;
    }
}

a {
    --link-color: steelblue;
    color: var(--link-color);
    text-decoration: none;

    &:visited {
        color: var(--link-color);
        color: ste;
    }

    &:hover {
        text-decoration: underline;
    }

    @media (width < var(--mobile-width-treshold)) {
        padding: 8px;
    }
}

ul {
    & > li {
        padding-top: 12px;
    }

    & :first-child {
        padding-top: 0;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-top: var(--header-tag-margin);
    margin-bottom: var(--header-tag-margin);
}

main {
    flex: 1;
    width: 95vw;
    max-width: var(--el-max-width);

    display: flex;
    flex-direction: column;
}
