@import "base.css";

/*.footnote-definition {
    display: flex;
    flex-direction: row;
    align-items: start;

    & > p {
        margin-top: 0;
    }
}*/

.title {
    text-align: center;
}

.default-title {
    --header-margin: 16px;

    margin-top: var(--header-margin);
    margin-bottom: var(--header-margin);
}

.article-item {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    border: 1px solid dimgray;
    border-radius: 12px;
    padding: 12px;
}
