{% extends "base.html" %}

{% block style %} {{ get_url(path="css/index.css") }} {% endblock style %}

{% block title %} {{ section.title }} {% endblock title %}

{%block content %}
    <section>
        {{ section.content | safe }}
    </section>

    <section>
        <h2>Posts récents</h2>

        {% set notes = get_section(path = "notes/_index.md") %}
            {% if notes.pages %}
            <div>
                {{ <section.recents {...notes} /> }}
            </div>
        {% endif %}

        {% set articles = get_section(path = "articles/_index.md") %}
        {% if articles.pages %}
            <div>
                {{ <section.recents {...articles} /> }}
            </div>
        {% endif %}

        {% set essays = get_section(path = "essays/_index.md") %}
            {% if essays.pages %}
            <div>
                {{ <section.recents {...essays} /> }}
            </div>
        {% endif %}
    </section>
{% endblock content %}
