{% extends "base.html" %}

{% block style %}style/index.css{% endblock style %}

{% block title %}Accueil{% endblock title %}

{% block content %}
    <section>
        <p>Bonjour je m'appelle Mohamed Doucouré, bienvenue sur mon coin d'internet</p>
    </section>

    <section>
        <a href="http://github.com/doucaml">Github</a>
        <a href="http://linkedin.com/in/mohamedoucoure">Linkedin</a>
        <a href="http://substack.com/@doucaml">Substack</a>
    </section>
{% endblock content %}
